@import 'other/styles/variables';
@import 'other/styles/mixins';

.ContactsPage {
  padding-top: 40px;
  padding-bottom: 40px;

  &__header {
    padding-bottom: 30px;

    h1 {
      font-size: 2rem;
      padding-bottom: 10px;
      color: $primary;
      border-bottom: 1px solid $primary;

      @include breakpoint(md-up) {
        font-size: 2.5rem;
      }
    }
  }
}