@import 'other/styles/variables';
@import 'other/styles/mixins';

.Navigation {
  width: 100%;
  background: $color-black;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;

  @include breakpoint(md-up) {
    font-size: 24px;
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;

    .nav-item {
      padding: 0 20px;
      border-left: 1px solid #474747;
      position: relative;

      @include breakpoint(md) {
        padding: 5px 0;
        border: 0;
      }

      &:first-child {
        border: 0;
      }

      &:hover {
        .nav-link {
          color: $primary;
        }

        > ul {
          display: block;
        }
      }

      > ul {
        @include list-reset;
        display: none;
        position: absolute;
        left: 0;
        top: 99%;
        padding: 6px 28px 10px;
        background: $color-black;
        white-space: nowrap;
        font-size: 18px;
        letter-spacing: 0;

        li {
          padding: 2px 0;

          a {
            display: block;
          }
        }
      }
    }

    .nav-link {
      cursor: pointer;
      color: $color-white;

      &.active,
      &:focus,
      &:hover {
        color: $primary;
        opacity: 1;
      }
    }
  }
}
