body {
  @include breakpoint(lg) {
    font-size: 1rem;
  }

  @include breakpoint(md) {
    font-size: 0.875rem;
  }
}

figure {
  margin: 0;
}

a {
  @include transition;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.App {
  overflow: hidden;
  padding-top: 168px;

  @include breakpoint(md) {
    padding-top: 70px;
  }
}